header{
  background-color: $bg-dark ;
  padding-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  height: 64px;
  text-align: right;
 a, a:visited, a:link {
   color: $base-text-color;
   text-decoration: none;
 }
}
