.stories-list {
  min-height: 100%;
  position: relative;
  max-width: 868px;
  margin: 0 auto;
  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    h1 {
      margin-right: 48px;
      text-align: center;
    }
  }
  &__refresh-button {
    margin-top: 4px !important;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  &__progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 576px) {
    &__heading{
      h1 {
        margin-right: auto;
      }
      font-size: 20px;
    }

  }

}
