
body {
  letter-spacing: 2px;
  color: $base-text-color;
  background-color: $bg-primary;
  height: 100%;
  #root{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
main {
  padding: 32px;
  flex: 1
}

@media screen and (max-width: 576px) {
  main{
    padding: 24px 16px;
  }
}
