
body {
  letter-spacing: 2px;
  color: $base-text-color;
  background-color: $bg-primary;
  height: 100%;
  #root{
    height: 100%;
  }
}
main {
  padding: 32px;
  min-height: calc(100% - #{$header-height});
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }
}
