//$bg-primary: #4f5475;
$primary:  #2b2d3e;
$dark: #191b24;
$white: #fafafa;
$green: #87ff87;
$green-light: #afa;


$bg-primary: $primary;
$bg-dark: $dark;
$base-text-color: $white;
$link-color: $green;

$header-height: 64px;

